body{
    font-family: 'Arima', cursive;
font-family: 'Trispace', sans-serif;
}

/* top section/ start */
.start{
    display: flex;
    padding-top: 5%;
}
section .text{
    padding-left: 5%;
    
}



.brown-{
    color: brown;
}
.orange-{
    color: orange;
}

section img{
    width: 80%;
    padding-bottom: 10%;
}

.start a{
  text-decoration: none;
  color: bisque;
  background-color: black;
  padding: 10px;
}

