body{
font-family: 'Arima', cursive;
font-family: 'Trispace', sans-serif;
}


section{
 display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.orange-c{
    color: orange;
}
.half-width img{
    width: 80%;
}


a{
    text-decoration: none;
    background-color: #97233F;
    color: white;
    padding: 15px;
    margin-top: 20px;

}


.Skills h1{
    padding-left: 5%;
  
}

